.form-check-input:checked {
    background-color: var(--accent-dark);
    border-color: var(--accent-dark);
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 !important;
}