{% extends "parts/master.html" %}

{% block title %}About{% endblock %}
{% block desription %}About Isaac's Tech Blog{% endblock %}


{% block header_content %}
<div class="container text-center masthead-padding-top">
    <style>
        .profile {
            border-radius: 50%;
            min-width: 200px;
            width: 30%;
            height: auto;
        }
    </style>
    <img class="profile" src="{{ url_for('static', filename='img/profile-img.jpg') }}">
</div>
{% endblock %}


{% block main_content %}
<div class="container">

    <div>
        <h1 class="display-1 text-center">Isaac Lehman</h1>
    </div>
    <p class="lead">
        I am a passionate software developer and hobbyist looking to provide computational solutions to 
        real world problems. At work I am a full stack LAMP developer and Salesforce Admin. For fun, I 
        run this blog I wrote using Python (Flask/SQLITE3) in addition to coding a variety of other "hobby" programs.
        Below are links to some of my personal projects and applications.
    </p>
    <p>
        <a href="https://trailblazer.me/id/ilehman" target="_blank"><img alt="GitHub" src="https://img.shields.io/badge/Salesforce-00A1E0?style=for-the-badge&logo=Salesforce&logoColor=white"/></a>    
        <a href="https://www.linkedin.com/in/isaac-lehman/" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin&labelColor=blue"/></a>
        <a href="https://github.com/IsaacLehman" target="_blank"><img alt="GitHub" src="https://img.shields.io/badge/GitHub-grey?style=for-the-badge&logo=github&labelColor=grey"/></a>
    </p>
    <hr style="background:#f8f9fa">
    <h3>Budget App: <a href="http://moneyflowio.com/login" target="_blank">GO</a></h3>
    <p class="">
        A no frill, personal budget application designed to track your
        expenses and manage your assets.
    </p>
    <h4>Distinct Notes:</h4>
    <ul>
        <li>Server is written in Python using Flask and Jinja</li>
        <li>The database is SQLITE3</li>
        <li>Uses SHA-256 hashing for passwords</li>
        <li>Currently being served with Njinx and Gunicorn</li>
    </ul>
</div>

<div class="container">

    <hr style="background:#f8f9fa">
    <h3>Isaac's Cooking: <a href="https://www.isaacscooking.com/" target="_blank">GO</a></h3>
    <p class="">
        A Google page's application designed to share my passion for cooking.
    </p>
</div>

<div class="container mb-5">
    <hr style="background:#f8f9fa">
    <h3>GitHub: <a href="https://github.com/IsaacLehman" target="_blank">GO</a></h3>
    <p class="">
        Check me out on GitHub to see a variety of projects ranging from
        android applications to a linux/bash terminal written in C.
    </p>
    <h4>List of Projects:</h4>
    <ul>
        <li>Covid Bunker (Flask): <a href="https://github.com/IsaacLehman/Covid-Bunker" target="_blank">GO</a></li>
        <li>Budget App (Flask): <a href="https://github.com/IsaacLehman/Web-Budget-App" target="_blank">GO</a></li>
        <li>Contact Book (Flask): <a href="https://github.com/IsaacLehman/flask-contact-book" target="_blank">GO</a>
        </li>
        <li>CHMOD Calculator (JavaScript): <a href="https://github.com/IsaacLehman/CHMOD-Calculator"
                target="_blank">GO</a></li>
        <li>Vector Calculator (android): <a href="https://github.com/IsaacLehman/VectorCalculator"
                target="_blank">GO</a></li>
        <li>Bash Terminal (C): <a href="https://github.com/IsaacLehman/Bash-Terminal" target="_blank">GO</a></li>
        <li>Mastermind (C & Assembly): <a href="https://github.com/IsaacLehman/Mastermind" target="_blank">GO</a></li>
        <li>Game of Life (C & openMP): <a href="https://github.com/IsaacLehman/Game-of-Life" target="_blank">GO</a></li>
        <li>Mandelbrot Images (C & openMP): <a href="https://github.com/IsaacLehman/Mandelbrot_Image"
                target="_blank">GO</a></li>
        <li>Jacobi Iteration Heat Transfer (C & openMP/MPI): <a
                href="https://github.com/IsaacLehman/Jacobi-Iteration-Heat-Transfer" target="_blank">GO</a></li>
    </ul>
</div>

<div>
    <h2 class="display-1 text-center">Site Stats</h2>
</div>
<div class="container">
    <iframe width="100%" height="500px"
        src="https://datastudio.google.com/embed/reporting/d85ff7d0-f8b9-4f20-9dab-d5fe52cce474/page/6zXD" frameborder="0"
        style="border:0;" allowfullscreen></iframe>
</div>
{% endblock %}
