{% extends "parts/master.html" %}
{% from "includes/macros.html" import paginate_blog with context %}

{% block title %}
Blog
{% endblock %}

{% block header_content %}
<div class="masthead-padding-top">
    <h1 class="display-1 text-center">{{ title }}</h1>
</div>
{% endblock %}

{% block main_content %}
<div class="container">
    {% if posts and posts.items | length > 0 %}
        {% for p in posts.items %}
            {% set all_tags = p.tag_names() %}
            <div class="excerpt">
                <a class="excerpt-title-link" href="/blog/{{ p.slug }}/">
                    <h2 class="excerpt-title">{{ p.title }}</h2>
                </a>
                <h4 class="excerpt-reference">By: {{ p.author.username }} ― {{ p.publish_date.strftime("%B %d, %Y") }}</h4>
                <hr class="excerpt-divider">
                <p class="excerpt-body">{{ p.description | safe }}</p>
                {% if all_tags %}
                <p class="tag">
                    Tags: {{ all_tags| safe }}
                </p>
                {% endif %}
                <p class="category">
                    Category: {{ p.category.make_link() | safe }}
                </p>
            </div>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}

        {{ paginate_blog(request.endpoint, category=category, tag=tag) }}
        
    {% else %}
        <h2 class="display-5">Content comming soon...</h2>
    {% endif %}
</div>
{% endblock %}