{% extends "parts/master.html" %}

{% block title %}
Isaac's Tech Blog
{% endblock %}

{% block desription %}Isaac's Tech Blog{% endblock %}

{% block header_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock %}

{% block header_content %}
<div class="masthead-padding-top">
    <h1 class="display-1 text-center">Isaac's Tech Blog</h1>
</div>

<div class="container">
    <div class="lead-section">
        <p class="lead text-center">
            Welcome to Isaac's Tech Blog! Here you will find a plethora of software
            articles sprinkled with the occasional coffee article. What are
            you waiting for? Select a topic to get started
        </p>
    </div>
</div>
{% endblock %}

{% block main_content %}
<div class="container mt-4">
    <h2 class="display-5">Topics</h2>
    <div class="row categories">
        {% for cat in all_categories %}
            <div class="col-md-4 col-sm-6">
                <a class="no-underline" href="/blog/categories/{{cat.slug}}/">
                    <div class="category-card rounded">
                        <div class="category">
                            {{ cat.name }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-5">
    <h2 class="display-5">Tags</h2>
    <div class="row tags">
        {% for tag in all_tags %}
        <div class="col-lg-2 col-md-4 col-6">
            <a class="no-underline" href="/blog/tags/{{tag.slug}}/">
                <div class="tag-card">
                    <div class="tag">
                        {{ tag.name }}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}