{% extends "parts/master.html" %}

{% block title %}
Isaac's Tech Blog
{% endblock %}

{% block desription %}Isaac's Tech Blog{% endblock %}

{% block header_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock %}

{% block header_content %}
<div class="masthead-padding-top">
    <h1 class="display-1 text-center">Isaac's Tech Blog</h1>
</div>

<div class="container">
    <div class="lead-section">
        <p class="lead text-center">
            <b>Welcome to Isaac's Tech Blog!</b> Here you will find a plethora of software
            articles sprinkled with the occasional coffee post. What are
            you waiting for? Select a topic to get started!
        </p>
    </div>
</div>
{% endblock %}

{% block main_content %}
<div class="container mt-4">
    <h2 class="display-5">Topics</h2>
    <div class="row categories">
        {% for cat in all_categories %}
            <div class="col-md-4 col-sm-6">
                <a class="no-underline" href="/blog/categories/{{cat.slug}}/">
                    <div class="category-card rounded">
                        <div class="category">
                            {{ cat.name }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="container mt-5">
    <h2 class="display-5">Tags</h2>
    <div class="row tags">
        {% for tag in all_tags %}
        <div class="col-lg-2 col-md-4 col-6">
            <a class="no-underline" href="/blog/tags/{{tag.slug}}/">
                <div class="tag-card">
                    <div class="tag">
                        {{ tag.name }}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-8">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6">
            <img class="side-img rounded" src="/static/img/coding-background-color.jpg" alt="">
        </div>
        <div class="col-12 col-lg-6 mt-1">
            <h3 class="display-5">Also try...</h3>
            <ul class="lead also-try">
                <li><a href="https://isaac.moneyflowio.com/chmod/index.html" alt="CHMOD Calculator">CHMOD Calculator</a><ul><li>Tool to calculate linux permissions</li></ul></li>
                <li><a href="https://isaac.moneyflowio.com/edit_page.html" alt="Side by Side Markdown editor">Side by Side Markdown editor</a><ul><li>In browser markdown note app</li></ul></li>
                <li><a href="https://moneyflowio.com/login/">Money Flow IO</a><ul><li>A personal budget application</li></ul></li>
                <li><a href="https://IsaacsCooking.com">Isaac's Cooking</a><ul><li>Several of my favorite recipies</li></ul></li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-12 col-md-6 mt-1 order-md-1 order-2">
            <h3 class="display-5">Not a member?</h3>
            <p class="lead sign-up">
                <a href="/signup/">Create a free account</a> today to join the community!
            </p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-1">
            <img class="side-img rounded" src="/static/img/sign-up-bg.jpg" alt="">
        </div>
    </div>
</div>
{% endblock %}