{% extends "parts/master.html" %}

{% block title %}
Login
{% endblock %}

{% block header_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/login.css') }}">
{% endblock %}

{% block header_content %}
<div class="masthead-padding-top">
</div>
{% endblock %}


{% block main_content %}
<div class="justify-content-center container max-300 mt-5">
    <h1 class="display-1 text-center pb-3">Login</h1>
    <hr>
    <form action="/login/" method="post">

        <div class="input-group mb-3">
            <input type="text" name="username" class="form-control" value="" placeholder="Username" required>
        </div>

        <div class="input-group mb-5">
            <input type="password" name="password" class="form-control" value="" placeholder="Password" required>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button type="submit" name="button" class="btn btn-outline-dark">Login</button>
            <a class="btn" href="/signup/" class="ml-2">Sign Up</a>
        </div>

    </form>
</div>
{% endblock %}