{% extends "parts/master.html" %}

{% block title %}
Post Editor
{% endblock %}

{% block desription %}Post Editor{% endblock %}

{% block header_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/blog-single.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/post-editor.css') }}">
{% endblock %}

{% block header_content %}
<div class="masthead-padding-top pb-0"></div>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="medium-border-padding">
                <h3>Editor</h3>
                <textarea class="w-100 rounded form-control" id="content" row=15></textarea>
            </div>

            <div class="mt-4">
                <button onclick="toggleFullScreen();" class="btn btn-outline-dark">Toggle Fullscreen</button>
            </div>
        </div>

        <div class="col-6 post-single">
            <h3>Processed</h3>
            <div id='processed-div' class="rounded">
                <div id="processed" class="full-width"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/atom-one-dark.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/highlight.min.js"></script>
<script src="{{ url_for('static', filename='js/post-editor.js') }}"></script>
{% endblock %}