::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  /* background: #efefef; */
}

::-webkit-scrollbar-thumb {
  background: #abb9c2;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
  border-radius: 8px;
}
